* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.reel-header {
	display: flex;
	padding: 12px;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.start1 {
	color: #fff;
}

.start2 {
	color: #ffffffa8;
	width: 44px;
	position: relative;
	left: 40px;
	
}

.start2:hover {
	color: #fff;
}

.start3 {
	color: #ffffffa8;
	width: 44px;
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 8px;
	position: relative;
	right: 49px;
}

.start3:hover {
	color: #fff;
}

.start4 {
	color: #ffffffa8;
	width: 44px;
	position: relative;
	right: 3px;
}

.start4::after {
	content: "🔴";
	font-size: 6px;
	position: relative;
	bottom: 12px;
}

.start4:hover {
	color: #fff;
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.unione {
	display: flex;
	justify-content: space-around;
	margin-top: 15px;
	background-color: black;
	padding: 22px;
}


.unity2{
	color: #787474b9;
}
.unity4{
	color: #787474b9;
}
.unity5{
	color: #787474b9;
}

.unity3 {
	transform: rotate(90deg);
	font-size: 28px;
	color: #fff;
	text-shadow:
	0 0 8px gold,
	0 0 15px blue,
	0 0 25px red,
	0 0 45px violet
}


.new1 {
	position: relative;
	right: 30px;
	top: 12px;
	font-size: small
}

.new3 {
	font-size: 9px;
	position: relative;
	bottom: 9px;
	left: 44px;
	border: solid rgb(255, 0, 76);
    background-color: rgb(255, 0, 76);
	border-radius: 8px;
	height: 16px;
}

.new4 {
	position: relative;
	top: 16px;
	right: 56px;
	font-size: small
}

.new5 {
	position: relative;
	top: 16px;
	right: 34px;
	font-size: small
}

.paragrafo {
	max-width: 330px;
}



/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 18%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	align-content: center;
	min-height: 330px;
}

img {
	max-width: 50px;
	background-color: transparent;
}

.icon1 {
	position: relative;
}
.span1 {
	color: rgb(255, 0, 76);
	position: absolute;
	top: 40px;
	left: 18px;
}

.icon2 {
	position: relative;
	font-size: large;
}
.span2 {
	position: absolute;
	top: 20px;
	right: -7px;
}

.icon3 {
	position: relative;
	font-size: large;
}
.span3 {
	position: absolute;
	top: 20px;
	right: -2px;
}

.icon4 {
	position: relative;
	font-size: large;
}
.span4 {
	position: absolute;
	top: 20px;
	right: -8px;
}

.icon5 {
	position: relative;
	font-size: large;
}
.span5 {
	position: absolute;
	top: 20px;
	right: -6px;
}
